html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
    height: 100%;
    width: 100%;
    font-family: Orbitron, Kanit, Tourney;
}

body {
    text-align: center;
    display: flexbox;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    min-width: fit-content;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
    background-image:linear-gradient(rgb(26, 26, 26), #050505);
    overflow-y: auto;
    overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9999999999999;
  padding-left: 2vh;
  padding-right: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 0px;
  height: 3.3vh;
  width: 100%;
  margin-bottom: 3vh;
  background-color: rgb(255, 255, 255);
}

ul {
  min-width: 5.8vh;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 5.8vh;
  height: fit-content;
  font-size: 30px;
  z-index: 9999;
}

li {
  float: left;
  margin-top: -.5rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 10rem;
}
  
li a {
  color: #111111;
  font-family: Kanit;
  cursor: pointer;
  text-decoration: none;
 
}

li:hover,
li:focus-within {
  outline: rgba(104, 104, 104, 0.493) solid 2px;
  cursor: pointer;
  transform: none;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: rgba(73, 73, 73, 0.534);
  visibility: hidden;
  opacity: 0;
  min-width: 5.2rem;
  position: absolute;
  transition: all 0.1s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  clear: both;
  width: 4.25vh;
}

ul li ul li a {
  text-align: center;
  text-decoration: none;
}


.topborder {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  padding: 1%;
  align-self: left;
  font-family: 'Tourney';
  font-weight: 400;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  height: 40%;
  max-height: 250px;
  letter-spacing: 45px;
  color:#ffffff
}

.numberbox::-webkit-inner-spin-button {
    display:none;
}

.divform{
  margin: auto;
  width: 45%;
}

.forms {
    height: fit-content;
    width: 600px;
    max-height: fit-content;
    max-width: 700px;
    position: relative;
    display: inline-block;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  
  @keyframes fiveperform-animation {
    from {
      transform: rotateX(-10deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .numberbox {
    position: relative;
    font-family: Anton;
    height: 80px;
    font-size: 27px;
    width: 96%;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 3px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: #000000;
    border: 2px solid #303030;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .numberbox::placeholder {
    color: #000000;
    font-family: Anton;
    font-size: 27px;
    letter-spacing: 3px;
  }
  
  .numberbox:hover,
  .numberbox:focus {
    position: relative;
    border-color: #303030;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1) rotateY(5deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  }
  .buttons {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
  }
  .button {
    position: relative;
    padding: 10px 20px;
    height: 120px;
    border: none;
    border-radius: 3px;
    background-color: rgb(112, 112, 112);
    color: #2c2c2c;
    font-size: 36px;
    font-family: Anton;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .button:hover {
    position: relative;
    background-color: #82abd1;
    font-size: 33px;
    transform: scale(1) rotateY(5deg) rotateX(2.5deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  
  .output {
    font-family: Anton;
    line-height: 1.9em;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: justify;
    text-wrap: wrap;
    color: rgb(0, 0, 0);
    border-color: aliceblue;
    animation: fadeIn 3s;
    height: auto;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }