html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
    height: 55%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image:linear-gradient(rgb(78, 189, 241), #fff);
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.topborder {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  padding: 1%;
  align-self: left;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  height: 40%;
  max-height: 250px;
  letter-spacing: 13px;
  color:#ffffff
}

.numberbox::-webkit-inner-spin-button {
    display:none;
}

.fiveperform {
    align-self:center;
    height: 110%;
    width: 80%;
    max-width: 500px;
    margin-bottom: -100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, #4eb6f1, #6fa2e0);
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  
  @keyframes form-animation {
    from {
      transform: rotateX(-30deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .numberbox {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    border: 2px solid #3b8df2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .numberbox::placeholder {
    color: #fff;
  }
  
  .numberbox:hover,
  .numberbox:focus {
    position: relative;
    border-color: #3b8df2;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05) rotateY(20deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  }
  
  .button {
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b8df2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .button:hover {
    position: relative;
    background-color: #0077be;
    font-size: 17px;
    transform: scale(1.05) rotateY(20deg) rotateX(10deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  
  .output {
    text-wrap: wrap;
    color: white;
    border-color: aliceblue;
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }