html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
    height: 55%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image:linear-gradient(rgb(26, 26, 26), #050505);
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow: scroll;
}


.topborder {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  padding: 1%;
  align-self: left;
  font-family: 'Tourney', cursive;
  font-weight: 400;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  height: 40%;
  max-height: 250px;
  letter-spacing: 45px;
  color:#ffffff
}

.numberbox::-webkit-inner-spin-button {
    display:none;
}

.header {
  color: #000000;
  font-size: 39px;
  height: fit-content;
  text-align: Center;
  letter-spacing: 6px;
  font-family: Anton;
  font-weight: 600;
}

.fiveperform {
    align-self:center;
    height: fit-content;
    width: 870px;
    max-height: fit-content;
    max-width: 700px;
    margin-bottom: -100%;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  
  @keyframes fiveperform-animation {
    from {
      transform: rotateX(-10deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .numberbox {
    position: relative;
    font-family: Anton;
    height: 80px;
    font-size: 27px;
    padding: 10px;
    border-radius: 3px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: #000000;
    border: 2px solid #303030;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .numberbox::placeholder {
    color: #000000;
    font-family: Anton;
    font-size: 27px;
    letter-spacing: 3px;
  }
  
  .numberbox:hover,
  .numberbox:focus {
    position: relative;
    border-color: #303030;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1) rotateY(5deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  }
  .buttons {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
  }
  .button {
    position: relative;
    padding: 10px 20px;
    height: 120px;
    border: none;
    border-radius: 3px;
    background-color: rgb(112, 112, 112);
    color: #2c2c2c;
    font-size: 36px;
    font-family: Anton;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .button:hover {
    position: relative;
    background-color: #82abd1;
    font-size: 33px;
    transform: scale(1) rotateY(5deg) rotateX(2.5deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  
  .output {
    font-family: Anton;
    line-height: 1.9em;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: justify;
    text-wrap: wrap;
    color: rgb(0, 0, 0);
    border-color: aliceblue;
    animation: fadeIn 3s;
    height: auto;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }